/* src/Calculator.css */
.calculator {
    width: 320px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}

input {
    width: 90%;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 24px;
    text-align: right;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    background-color: #566068;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #19d257;
}

button:active {
    background-color: #0d47a1;
}

.calculator-footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
}
